GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
GEMINI_API_KEY=
GOOGLE_MAPS_API_KEY=
GOOGLE_CALENDAR_API_KEY=
GOOGLE_FORMS_API_KEY=
GOOGLE_SHEETS_API_KEY=
GOOGLE_TRANSLATION_API_KEY=
GOOGLE_SLIDES_API_KEY=
YOUTUBE_API_KEY=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
LOOKER_STUDIO_EMBED_URL=
